/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
	BARVY
	czechitas  #b92e81
	pozadi     #bdc3c7
	tmava      #31363b
	delitka    #3f464d
	portfolio  #e74c3c
	facebook   #3b5998
	twitter    #1da1f2
*/


body {
	background-color: #bdc3c7;
}

.profil {
	height: 500px;
	width: 300px;
	padding: 20px 10px 0 0;
	background-color:#31363b;
	box-sizing: content-box;
	position:absolute;
	top:50px;
	left:20px;
	color:white;
}


p {
font-size: medium;
text-align: left;

}

.foto {
width: 60%;
height: 60%;
position: relative;
	
}

.logo{
	

}